.home-admin {
    padding: 2rem;
    background-color: #f8fdf8;
    font-family: Arial, sans-serif;
}

.admin-navbar {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1rem;
}

.admin-btn {
    background-color: #f2fef2; /* verde muy claro */
    border: 1px solid #4B614C;
    color: #4B614C;
    padding: 10px 16px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.admin-btn:hover {
    background-color: #dcefdc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.admin-titulo {
    font-size: 1.8rem;
    color: #2f6f3f;
    margin-bottom: 2rem;
}

.admin-loading {
    font-style: italic;
    color: #666;
}
