html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f5f9;
    font-family: 'Arial', sans-serif;
}

.login-container {
    width: 100vw;
    padding: 50px 30px 40px 30px;
    background: #f4f5f9;
    border-radius: 16px;
    box-shadow: 0 4px 0 rgba(0.1, 0, 0, 0.1);
}

/* Logo igual que en registro */
.logo {
    width: 200px;
    margin: 0 auto 1.5rem auto;
    display: block;
}

/* Título */
.titulo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
}

/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Inputs */
.input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
}

/* Botón */
.btn-login {
    background: linear-gradient(to right, #b0dc74, #b6d89e);
    color: white;
    padding: 0.9rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.btn-login:hover {
    background: linear-gradient(to right, #a3d056, #adc98f);
}

/* Registro texto */
.register-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

.register-text a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

/* Mensaje de error */
.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
