.perfil-container {
    width: 100vw;
    padding: 60px 30px 40px 30px;
    background-color: #f4f5f9;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}


.perfil-opciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.perfil-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.05rem;
    font-weight: 500;
    justify-content: flex-start;
}

.perfil-item:hover {
    background-color: #e6f0dc;
}

.perfil-icon {
    font-size: 1.2rem;
    color: #749355;
}

.cerrar-sesion-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.9rem;
    background: linear-gradient(to right, #d9534f, #c9302c);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.cerrar-sesion-btn:hover {
    background: linear-gradient(to right, #c9302c, #b52b27);
}

.profile-picture-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #7c9a3c;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #7c9a3c;
    border-radius: 50%;
    padding: 6px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.user-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0 0.2rem 0;
    color: #333;
}

.user-email {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.eliminar-cuenta-btn {
    margin-top: 0px;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
}
.eliminar-cuenta-btn:hover {
    background-color: #e04343;
}

.cerrar-sesion-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.05rem;
    font-weight: 500;
    justify-content: flex-start;
}

.cerrar-sesion-item:hover {
    background-color: #f8b5b5;
}

.cerrar-sesion-icon {
    font-size: 1.2rem;
    color: #e04343;
}
